In [15]:
import sqlite3
conn = sqlite3.connect('../cats.db')

In [16]:
cats_c = conn.cursor()

In [17]:
cats_c.execute('SELECT * FROM cats').fetchall()

[('Bell', 'Siamese', '1', '4'),
 ('Jackson', 'Balinese', '2', '3'),
 ('Precious', 'Himalayan', '3', '4'),
 ('Rocky', 'Egyptian Mau', '4', '2'),
 ('Samson', 'Javanese', '5', '1'),
 ('', '', '', ''),
 ('', '', '', ''),
 ('', '', '', ''),
 ('', '', '', ''),
 ('', '', '', ''),
 ('', '', '', ''),
 ('', '', '', ''),
 ('', '', '', ''),
 ('', '', '', ''),
 ('', '', '', ''),
 ('', '', '', ''),
 ('', '', '', ''),
 ('', '', '', ''),
 ('', '', '', ''),
 ('', '', '', ''),
 ('', '', '', None)]

In [18]:
conn = sqlite3.connect('../dogs.db')

In [11]:
c.execute("select name from sqlite_master where type = 'table';").fetchall()

[('cats',)]

In [7]:
c.execute('SELECT * FROM dogs').fetchall()

OperationalError: no such table: dogs