In [3]:
### 1. Create a dictionary where each object contains a list of one float (Age) and one string (Family name) (at least 5 objects)

Example:
`{Charles: [23.4, "Darwin"], Alan: [42.5, "Turing"]}`



a_dict.pop()
### 3. Replace the float number of one of your objects - we are changing a list entry inside a dictionary record! look at Darwin's new age

Example:
`{Charles: [99.73, "Darwin"], Alan: [42.5, "Turing"]}`


### 4. write a for loop that goes through all records in the dictionary, prints the family name and assigns the float numbers into one merged list (see ages)

`ages = [23.4, 22.9, 552.9]`

### 5. Download your notebbok as a .py (regular python script) save it somewhere you know

### 6. Go to terminal, navigate to the folder where you have saved the script and execute it through the terminal

`use commandds: 
cd and 
python your_script.py`


### [optional] Calculate with a for loop the median and mean of the ages list

SyntaxError: invalid syntax (<ipython-input-3-b465063f1a58>, line 3)

In [5]:
a_dict = {'Ed': [24.10, 'Duke'], 'Charls': [125.3, 'Sall'], 'John': [19.78, 'Adam'], 'Roy': [45.01, 'Wilson'], 'Jennifer': [30.2,'Jordan'] }
### 2. Delete one object from the dictionary

In [8]:
del a_dict['Roy']

In [9]:
print(a_dict)

{'Ed': [24.1, 'Duke'], 'Charls': [125.3, 'Sall'], 'John': [19.78, 'Adam'], 'Jennifer': [30.2, 'Jordan']}

In [10]:
#Question 3
a_dict['Ed'][0] = 25

In [24]:
#Question 4
ageList = []
for K, V in a_dict.items():
    ageList.append(V[0])
print(ageList)

[25, 125.3, 19.78, 30.2]

In [21]:
print(ageList)

[[25, 'Duke'], [125.3, 'Sall'], [19.78, 'Adam'], [30.2, 'Jordan']]