### 1. Create a dictionary where each object contains a list of one float (Age) and one string (Family name) (at least 5 objects)

Example:
`{Charles: [23.4, "Darwin"], Alan: [42.5, "Turing"]}`

a_dict = {'Ed': [2410, 'Duke'], 'Charls': [125.3, 'Sall'], 'John': [1978, 'Adam'], 'John': [1978, 'Adam'],'Dominic': [908, 'Smith']}
### 2. Delete one object from the dictionary


### 3. Replace the float number of one of your objects - we are changing a list entry inside a dictionary record! look at Darwin's new age

Example:
`{Charles: [99.73, "Darwin"], Alan: [42.5, "Turing"]}`


### 4. write a for loop that goes through all records in the dictionary, prints the family name and assigns the float numbers into one merged list (see ages)

`ages = [23.4, 22.9, 552.9]`

### 5. Download your notebbok as a .py (regular python script) save it somewhere you know

### 6. Go to terminal, navigate to the folder where you have saved the script and execute it through the terminal

`use commandds: 
cd and 
python your_script.py`


### [optional] Calculate with a for loop the median and mean of the ages list